*.o
*.obj
*.out
*.exe
*.app
*.so
*.dll
*.dylib
*.a
*.lib

.vscode/
.idea/
*.suo
*.user
*.userossc
*.sln
*.vcxproj
*.filters

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake
config.h
config.log
config.status
.ninja_deps
.ninja_log
build/
dist/
out/
bin/

builddir/
subprojects/*
!subprojects/*.wrap

.metadata/
.project
.cproject
.settings/
*.launch
.fproject

*.log
*.tmp
*.bak
.DS_Store
Thumbs.db

# remove the decompiler output unfortauntely
out_decompilers/